/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px;
    margin-left: 10%;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.navbar-form {
    width: 60%;
}

.img-line {
    border-bottom: 1px #a0b1c4;
    width: 150px;
    height: 100px;
}

.search-line {
    width: 36px;
    height: 36px;
}

.goods-img-line {
    width: 263px;
    height: 194px;
}

.goods-container {
    margin: 15px;
    height: 250px;
    padding: 5px;
    float: left;
    border: 1px solid #a0b1c4;
    background-color: #fff;
    position: relative;
    z-index: 12;
    padding: 0;
    border-radius: 2px;
    overflow: hidden;
}

.text-money {
    padding: 2px;
    font-weight: 500;
    font-family: Verdana;
    color: orangered;
}

.goods-img-height {
    height: 90%;
}

.goods-name-height {
    height: 10%;
}

.link-tag {
    float: left;
    margin: 5px;
    list-style: none;
}

a {
    text-transform: none;
    text-decoration: none;
}
.index-footer {
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0px;
    clear: both;
    line-height: 36px;
    text-align: center;
    color: #b6b6b6;
    z-index:9999;
    background-color: #eff4fa;
    border-top: 1px solid #d6dfea;

}
.eye{
    margin-top: 6px;
}
.index-cursor{
    cursor: pointer;
}
